body{
    background: #3771c6;
    font-family: 'Poppins';
}
.signup_form .panel{
  background: white;
  padding: 50px;
}
.signup_page  .btn{
  width: 150px;
  background: #000C23;
  padding: 15px;
  height: 50px;
  font-style: initial;
}
.signup_btn{
  background:#000C20;
  padding: 20px 10px;
  font-size:14px;
  color: white;
  width: 145px;
  line-height: 1px;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 2px;
  font-style: normal; 
}
.signup  .form-group{
  margin-top: 15px;
}
.signup h2{
color: #1D4B97;
font-family: 'Poppins';
font-size:: 30px;

}
.signup .logo{
width: 120px;
}
label{
font-style: 14px;
font-weight: 700;
margin: 0px;
color: #00000080;
text-transform: normal;
}

.signup .form-control:focus{
box-shadow: 0px 0px 0px 0px white;
border: 0px solid;
  color: #000C20;
border-radius: 5px;
  background:#f3f3f3;
  padding-left:30px;

}
.signup .form-control{
padding: 15px;
padding-left: 30px;
background:#f3f3f3;
border: 0px solid;
border-radius: 5px;
font-size: 18px;
margin-top: 0;
margin-bottom:10px;
font-weight: 500;
}



.table.table-striped>tbody>tr:nth-of-type(odd):hover{
  background: #e9f2ff;
}

.login_form .panel{
    background: white;
    padding: 50px;
}
.login_wrapper .btn{
     width: 150px;
     background: #000C23;
     padding: 15px;
     height: 50px;
     font-style: initial;
}
.login_wrapper {
    width: 100%;
    max-width: 100%;
}
.login_wrapper .col-md-5{
  padding: 0;
}
button{
  border-radius: 2px;
  border: 0px solid;
  padding: 15px;
}
 .login_btn{
  background:#000C20;
  padding: 20px 10px;
  font-size:14px;
  color: white;
  width: 145px;
  line-height: 1px;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 2px;
  font-style: normal;
}

.side_div{
  background: #408CFE;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 100vh;
}

.login_form .form-group{
    margin-top: 15px;
}
.login_form h2{
  color: #1D4B97;
  font-family: 'Poppins';
  font-size:: 30px;

}
.login_form .logo{
  width: 120px;
}
label{
  font-style: 14px;
  font-weight: 700;
  margin: 0px;
  color: #00000080;
  text-transform: normal;
}

.login_form .form-control:focus{
  box-shadow: 0px 0px 0px 0px white;
  border: 0px solid;
    color: #000C20;
  border-radius: 5px;
    background:#f3f3f3;
    padding-left:30px;
 
}
.login_form .form-control{
  padding: 15px;
  padding-left: 30px;
  background:#f3f3f3;
  border: 0px solid;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom:10px;
  font-weight: 500;
  }

.checkbox{
  display: block;
}
.forgot_password {
  color: #00000080;
  font-size: 14px;
  font-weight: 700;

}

.login_wrapper .col-md-7{
position: relative;

  
}
.login_wrapper .col-md-7 .login_content {

  position: absolute;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
}
.signup_page .col-md-7 .login_content {

  position: absolute;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
}
.login_content h1{
  color: white;
  font-size: 40px;
  font-weight: 900;
}
.login_content p{
  color: white;
  font-size: 14px;
  line-height: 36px;
  font-weight: 300;
color: #FFFFFFB3;
}
.login_content p i{
  padding: 2px;
  background: #F0A926;
  border-radius:50px;
  margin-left: 5px;
  color: white;
  font-size: 10px;
}
.login_content .btn{
  background:#F0A926;
  font-size: 16px;
  letter-spacing: 1px;
  border: 0px solid;
  border-radius: 2px;
  padding: 15px;
  height: 60px;
  transition: all 0.3s;
  line-height: 1;
  width: 250px;
}
.login_content .btn i{
  font-size: 22px;
  padding-left: 10px;
}
.login_content .btn:hover{
  margin: 0px;
  background: #5299C7;
}
.addon_inputs span {height:50px;background: #F3F3F3;border: 0px solid;padding: 15px;color: #0000004D;padding-right: 20px; padding-left: 20px; }
.ssh_private_key_status {
 font-weight: bold;
}

.sidenav_icon{
    position: fixed;
    background-color: #1D4B97;
    width: 70px;
    height: 100%;
}
.sidenav_icon .logo{
    background: #000C20 0% 0% no-repeat padding-box;
    height: 70px;
    padding: 14px;
}
.sidenav_icon .icons{
    margin-top: 100%;
    margin-bottom: 50%;;
}
.sidenav_icon .icons li{
    list-style: none;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 20px 20px;
    height: 70px;
    color: white;
    line-height: 2;
    opacity: 0.8;
}
.sidenav_icon  li:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.sidenav_icon li.active{
   background-color: rgba(255, 255, 255, 0.1);
   opacity: 1
}


.sidenav_icon .icons_bottom{
    position: absolute;
    width: 100%;;
 bottom: 0;
}

.sidenav_icon  .icons_bottom li:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.sidenav_icon .icons_bottom li{
    list-style: none;
    background-color: rgba(255, 255, 255, 0.11);
    text-align: center;
    padding: 20px 20px;
    height: 70px;
    color: white;
    line-height: 2;
    opacity: 0.8;
}
.copyright {
  bottom: 0;
  padding-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  

  font-size: 12px;
  color: white;
  margin-right: 50px;


}
.copyright li{
  display: inline-block;
  float: right;
}
.copyright li a{
  color: white;
  opacity: 0.8;
}
.copyright li a:hover{
 background: black;
}
.copyright {
  padding: 10px;
  width: 100%;
  position:absolute;
  bottom: 0;
  left: 0;
  color: white;

}
.copyright p{
  float: right;
}


.profile .profile{
  margin-top: 10px;
}
.profile p{
  color: gray;
  margin-top: 20px;
  padding: 10px;
}
.profile input{
  background: #eee;
  padding: 15px;
  padding-left: 30px;
  border-radius: 5px;
  font-size: 16px;
}
.profile input:focus{
  padding-left: 30px;
  background: #eee;
  color: #000C20;font-weight: 700;
  font-size: 16px;

}
.profile input:hover{
  background-color: #eee;
}
.profile label{
  margin-top: 10px;
  font-weight: 700;
  font-style: normal;
}
.profile textarea{
  border: 0px solid;
  background-color: #eee;
}
.profile textarea:focus{
  padding-left: 20px;
  border: 0px solid;
  background: #eee;
}
.profile textarea:hover{
  border: 0px solid;
  background-color: #eee;
}
.profile form h1{
    font-size: 25px;
    color: #4C4E58;
    font-weight: 600;
    padding-bottom: 30px;
 
}

.profile input.avatar_upload, input.avatar_upload:focus{
  width: 200px;
  height: 200px;
  border: 0px solid;
  border-radius: 10px;
  color: #00000000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none !important;
    background-image: url(https://library.kissclipart.com/20180903/ige/kissclipart-boss-icon-png-clipart-computer-icons-clip-art-ce40274d7a51d6b8.jpg);
    background-size: cover;
    opacity: 0.2;
}
.profile  input.avatar_upload:hover{
  background-image: url(https://library.kissclipart.com/20180903/ige/kissclipart-boss-icon-png-clipart-computer-icons-clip-art-ce40274d7a51d6b8.jpg);
  background-size: cover;
  opacity: 0.3;
}

.profile input.update_key_upload , input.update_key_upload :focus{
  width: 200px;
  height: 200px;
  border: 0px solid;
  border-radius: 10px;
  color: #00000000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none !important;
    background-image: url(https://library.kissclipart.com/20180903/ige/kissclipart-boss-icon-png-clipart-computer-icons-clip-art-ce40274d7a51d6b8.jpg);
    background-size: cover;
    opacity: 0.2;
}
.profile  input.update_key_upload :hover{
  background-image: url(https://library.kissclipart.com/20180903/ige/kissclipart-boss-icon-png-clipart-computer-icons-clip-art-ce40274d7a51d6b8.jpg);
  background-size: cover;
  opacity: 0.3;
}


.profile .start_upload {
  background: #408cfe;
  padding: 15px;
  margin-top: -50px;
}

.profile .start_upload:hover{
  margin-top: -50px;
}
.start_upload{
  width: 200px;
  padding: 10px;
  background: #9e9e9e;
}
.profile textarea{
  font-size: 14px;
  height: 0px;
  padding: 20px;
}
.profile .importkey{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #000c20;
  width: 100%;
}

.profile .importkey button{
  padding: 5px;
  background: #232323;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.profile .importkey a {
  color: gray;
  float: right;
  font-size: 14px;
}
.profile .importkey i{
  padding: 5px;
} 

.profile .profile_tabs span{
  float: right;
  font-weight: 600;
  padding: 20px;
  margin-top: -10px;

}

.profile .profile_tabs{
  background: white;
}

.profile .profile_tabs .btn:hover{
  background: #ffffff;
  color: white;
  font-weight: 500;
  padding: 20px;
  border-bottom: 2px solid #408CFE;
  color: #408CFE;
  font-weight: 700;
}

.profile .profile_ssh_private_key{
  margin-top:20px;
}

.profile .profile_ssh_private_key label{
  margin-top:20px;
  font-size: 20px;
  margin-bottom:20px;
  color: #000C20;
}

.profile .profile_ssh_private_key .avatar_upload{
  width: 400px;
  height: 100px;
  margin-bottom:30px;
  background: #e6e6e6;
  opacity: 1;
  border: 2px dotted lightgray;
  border-radius:5px;
  margin-top: 10px;
}

.profile .profile_ssh_private_key .avatar_upload:hover{
  background: #f1f1f1;
}

.profile .profile_ssh_private_key .btn{
  background: #408CFE;
  color: white;
  float: ;
  margin-top: ;
  padding: 20px;
}
.profile .profile_ssh_private_key .btn:hover{
  padding: 20px;
}

.profile .btn-save{
  background: #08C541;
  padding: 15px;
  width: 150px;
  font-size: 14px;
  float: right;
}

.profile .btn-cancel{
  background: #E8E8E8;
  padding: 15px;
  width: 150px;
  font-size: 14px;
  float: right
}

.company-users .user_row .btn-promote{
  background:#D1FCDE;
  color: #08C541;
  padding: 10px;
  width: px;
  text-align: center;
  cursor: pointer;
    border-radius: 5px;
}

.company-users .user_row .btn-demote{
  background:#F2E8E7;
  color: #FF5163;
  padding: 10px;
  border-radius: 5px;
  width:;
  text-align: center;
  cursor: pointer;
}

.company-users .user_row .btn-promote i{
  color: #28b62c;
  font-size: 20px;
  font-family: poppins;
  border-radius: 5px;
}



.company-users .user_row .btn-demote i{
  color: #FF5163;
  font-size: 20px;
  font-family: poppins;
}
.company-users .user_fullname{
  font-size: 20px;
  font-weight: 500;
  width: 70%;

}
.project_header_row i{
  display: inline-block;
}

.fa.fa-level-up:before{
  content: "\1f845";
  margin-right: 10px;
  
}

.fa.fa-level-down:before{
  content: "\1f847";
  font-size: 20px;
  margin-right: 10px;
}
.fa-key{
  font-size: 10px;
}

.company-users .user_fullname .username{
  font-size: 14px;
  font-weight: 500;
}

.fa.fa-trash-o:before{
  font-size: 20px;
  float: right;
  padding: 10px;
  color: #f74a5c;
}


.company-users .pull-right {
    float: right !important;
    margin-top: 100px;
    width: 100%;
}
.company-users .pull-right .fa-trash-o {
  float: right;
  position:absolute;
  right:0;
  bottom:0px;
  
}
.fa-plus:before{
  content: "/002B";
}

.add_project {

}

#company-projects .add-project-btn  {
  margin-top: -55px;
  background: #5578B1;
  float: right;
  padding: 15px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
}



#company-users .add-project-btn  {
  margin-top: -55px;
  background: #5578B1;
  float: right;
  padding: 15px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  width: 140px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
}

.company-users .textbadge {
   color: #fff;
   border-radius: 2px;
   font-size: 12px;
   padding: 5px;
   margin: 2px;
   font-weight: 600;
   text-transform: uppercase;
   z-index: 0;
   width: 40px;
   float:;
   text-align: center;
   position: relative;
   margin-top: 70px;
   margin-left: 10px;
   margin-right: -5px;
   }

.company-users .textbadge.mfa {
    background: #9408C5;
    border: none;


}

.company-users .textbadge.admin-company {
    background: #5d9cf9;
    border: none;
}

.company-users .textbadge.root {
    background: #a133B9;
    border: none;
 
}


.company-users .textbadge.ssh {
    background: #FF9123;
    border: none;
}

.headerbar p{
  margin-top: 15px;
}

.headerbar .add_project{
  background: #408cfe;
  padding: 10px;
  color: #ffffff;
  z-index: 11;
  height: 70px;
  line-height: 1.6;
  width: 50px;
  text-align: center;
  position: absolute;
  margin-left: 120px;
}


.headerbar .delete_project{
  background: #fe4060;
  color: #ffffff;
  height: 70px;
  line-height: 2.3;
  width: 50px;
  position: absolute;
  text-align: center;
  margin-left: 170px;
}
.headerbar  .project_server_count{
  color: #000C20;
  background: #fff;
  margin-right: 100px;
  line-height: 2.5;
  width: 120px;
  height: 70px;
  margin-top: -30px;
  font-size: 30px;
  padding: 10px;
  padding-left: 15px;
}

.headerbar .project_server_count .total_servers {
    float: right;
    font-size: 14px;
    color: #000c2085;
    font-weight: 600;
    line-height: 1;
    padding: 5px;
    position: absolute;
    width: 100px;
    margin-left: -5px;
}


.login_wrapper .col-md-7 .login_content {

  position: absolute;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
}
.signup_page .col-md-7 .login_content {

  position: absolute;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
}
.login_content h1{
  color: white;
  font-size: 40px;
  font-weight: 900;
}
.login_content p{
  color: white;
  font-size: 14px;
  line-height: 36px;
  font-weight: 300;
color: #FFFFFFB3;
}
.login_content p i{
  padding: 2px;
  background: #F0A926;
  border-radius:50px;
  margin-left: 5px;
  color: white;
  font-size: 10px;
}
.login_content .btn{
  background:#F0A926;
  font-size: 16px;
  letter-spacing: 1px;
  border: 0px solid;
  border-radius: 2px;
  padding: 15px;
  height: 60px;
  transition: all 0.3s;
  line-height: 1;
  width: 50%;
}
.login_content .btn i{
  font-size: 22px;
  padding-left: 10px;
  color: 
}
.login_content .btn:hover{
  margin: 0px;
  background: #5299C7;
}
.addon_inputs span {height:50px;background: #F3F3F3;border: 0px solid;padding: 15px;color: #0000004D;padding-right: 20px; padding-left: 20px; }
.ssh_private_key_status {
 font-weight: bold;
}

.panel.file_upload{}
.cursor-pointer { cursor: pointer }
.badge-danger{background:#780000; color: white;}


.sidenav_icon{
    position: fixed;
    background-color: #1D4B97;
    width: 70px;
    height: 100%;
    z-index: 11112;
}
.sidenav_icon .logo{
    background:#000c204a 0% 0% no-repeat padding-box;
    height: 70px;
    padding: 14px;
}
.sidenav_icon .icons{
    margin-top: 100%;
    margin-bottom: 50%;;
}
.sidenav_icon .icons li{
    list-style: none;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 20px 20px;
    height: 70px;
    color: white;
    line-height: 2;
    opacity: 0.8;
}
.sidenav_icon  li:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.sidenav_icon .icons  .active{
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
}

.sidenav_icon .icons_bottom{
    position: absolute;
    width: 100%;;
 bottom: 0;
}
.sidenav_icon .icons_bottom li{
    list-style: none;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 20px 20px;
    height: 70px;
    color: white;
    line-height: 2;
    opacity: 0.8;
}

.add_company_button{
  padding: 15px;
  font-size: 12px;
  width: 100%;
  margin-bottom: 20px;
  width: 210px;
  position: fixed;
  background:#000C20 ;
  height: 50px;
  font-style: normal;
      margin-left: -1.5px;
}
.nav-tab-main{
  margin-top: 50px;
  background: transparent;
}

.nav-tab-main .company{
  padding: 20px;
  margin-bottom: 50px;
}


.life_menu::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.life_menu::-webkit-scrollbar
{
  width: 3px;
  background-color: #F5F5F5;
}
.life_menu::-webkit-scrollbar-thumb
{
  background-color: #1d4b97;
  border: 0px solid #555555;
}


::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #dcdcdc;
}

::-webkit-scrollbar
{
  width: 3px;
  height: 6px;
  background-color: #bdbdbd;
}
::-webkit-scrollbar-thumb
{
  background-color: #1d1d1d;
  border: 0px solid #9c9c9c;
}

.left_menu::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #cecece;
}

.left_menu::-webkit-scrollbar
{
  width: 0px;
  background-color: #F5F5F5;
}
.left_menu::-webkit-scrollbar-thumb
{
  background-color: #1d4b97;
  border: 0px solid #555555;
}

.profile{
  background:white;
  padding: 30px;
  padding-top: 20px;
  margin-top: 100px;
}

.main_wrapper{
  background-image: url('back.png');
  background-size: cover;
  background-position: right;
  height: 270px;
  margin-top: -55px;
}

.user_row  .user_logo_wrapper .user_logo{
  width: 60px;
  max-width: 60px;
  height:60px;
}
 
 .user_row   .user_fullname{
   margin-left: 80px;
   font-weight: 700;

 }
  .user_row   .user_fullname .username{
    opacity: 0.8;
  }

.editable-input textarea.form-control.input-large{
  width: 120%;
  height: 35px;
}

 .language-bash::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #000000;
}

 .language-bash::-webkit-scrollbar
{
  width: 3px;
  background-color: #000;
  height:4px;
}
 .language-bash::-webkit-scrollbar-thumb
{
  background-color: #408cfe;
  border: 2px solid #5a5a5a;
}

.panel.panel-default{
}

.panel h3{
  font-size: 20px;
}


.billing-wrapper .month-select{
  padding: 15px;
  width: 300px;
  border-radius:5px;
  background: transparent;
  border: 1px solid lightgray;
  font-size: 18px;
  font-weight: 700;
}
.billing-wrapper .month-select:hover{
    background: #2a2a2a;
    border: 0px solid lightgray;
    padding-left: 20px;
}
.billing-wrapper .year-select:hover{
    background: #2a2a2a;
    border: 0px solid lightgray;
    padding-left: 20px;
}
.billing-wrapper .year-select{
  padding: 15px;
  width: 300px;
  border-radius:5px;
  background: transparent;
  border: 1px solid lightgray;
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}

.billing-wrapper .btn{
  height: 60px;
  margin-top: 5px;
  width: 150px;
  font-size: 14px;
  color: white;
}
.toggle_pane > span{
  background: #ffffff;
  color: white;
  font-weight: 500;
  padding: 20px;
  border-bottom: 2px solid rgba(64, 140, 254, 0);
  color: rgb(129, 129, 129);
  font-weight: 700;
  float: right;
  margin-top: -20px
}
.toggle_pane > span.active{
    border-bottom: 2px solid #408CFE;
  color: #408CFE;
  background: white;
}
.toggle_pane > span:hover{
    background: #ffffff;
  color: white;
  font-weight: 500;
  padding: 20px;
  border-bottom: 2px solid #408CFE;
  color: #408CFE;
  font-weight: 700;
}
.billing-update-card label{
  font-weight: 700;
  margin-bottom: 10px;
}

.billing-update-card .form-control:focus{
  padding-left: 15px;
}
.billing-update-card .form-control{
  padding: 15px;
  border-radius: 5px;
  background: white;
   border: 1px solid lightgray;
   font-size: 18px;
   width: 340px;

}
.billing-update-card .form-control:hover{
      background: #efefef;
  border: 1px solid white;
  padding-left: 15px;
}
.usage_display:before{
  content: "";
}
.usage_display{
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.usage_display th{
  font-weight: 600;
  font-size: 18px;
}

.usage_display td{
  font-size: 16px;

}

#company-policies .policy{
  padding:10px;
  margin-top: 25px;
  border: 0px solid;
  width: 20px;
}
#company-policies .btn{
  padding: 15px;
  font-size: 16px;
  width: 200px;
}

.mfa{
  margin-top: 50px;
  padding: 30px;
}
.mfa h1{
  color: white;
}
.mfa h4{
  color: #ffffffb0;
  font-weight: 500;
  margin: px;

}
.mfa p{
  color: #00000070;
  background: white;
  padding: 20px;
  width: 65%;
  font-size: 14px;
  font-weight: 500;
}
.mfa p b{
  font-weight:700;
  color: #232323;
}
.mfa .mfa-qrcode img{
  background:white;
  margin-left: 0px;
  text-align:;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 5px 20px 0px #80808029;
}
.mfa .label-danger{
  background: #FF5163;
  padding: 10px;
  border-radius: 5px;
  margin: 0px;
  margin-bottom: 10px
}
.mfa .totp-token{
  width: 400px;
  margin-top: 20px;
  padding: 25px;
  background:white;
  box-shadow: 5px 5px 20px #8080803d;
}
.mfa .totp-token:focus{
  padding-left: 25px;
  background: white
}
.mfa .totp-token:hover{
  background: white
}

.mfa .btn{
  padding: 20px;
  height: 50px;
  width: 150px
}
#company-policies select{
  font-size: 14ox;
  padding: 20px;
}
.sweet-alert .sa-button-container{
  display: inline-block;
  margin-left: 5px;
}
.sweet-alert .sa-button-container .confirm{
  width: 200px;
  background: #1D4B97 !important;
  border: 0px solid;
  padding: 15px;
  border-radius: 2px;
}
.sweet-alert .sa-button-container .cancel{
  width: 200px;
  background: #E9E9E9 !important;
  border: 0px solid;
  padding: 15px;
  border-radius: 2px;
  color: gray;
}
button.refresh_company_button{
margin-top: 26px;
    margin-right: 15px;
}
button.refresh_company_button:hover{
 margin-top: 26px;
    margin-right: 15px;
    color: white;

}

[data-title] {
  outline: #ff000000 dotted 1px; /*optional styling*/
  font-size: ; /*optional styling*/
  
  position: relative;
  z-index: 99999;
  opacity: 1;
  
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  top: -30px;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background: #000c20;
  color: #fff;
  font-size: 12px;
  font-family: 'Poppins';
  white-space: nowrap;
  z-index: 9999;
  opacity: 1;
}

.dataTables_length select{
  padding: px;
  margin-top: 10px;
  height: 40px;
  float: left;
  position: absolute;
  left: 10px;
  background: #d3d3d37d;
}
.pagination{
  padding: 20px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
  background: #efefef;
  border: 0px solid;
  padding: 10px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
  border: 0px solid;
  padding: 9px;
}

div.dataTables_wrapper div.dataTables_length label{
  display: ;
}